<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/aside.css">
</head>
<body id="aside">
  <aside>
    <div id="left-on">
      <div id="on">
        <a href="#">
          <img src="http://www.51gu.com/UploadFiles/image/20180615111003624.jpg">
        </a>
      <div id="two">
        <div class="t_1">
          <h3 class="title198">公告</h3>
        </div>
        <div class="t_2">
          <a href="#" class="t_3">
            尊敬的邮友： 您好！我社从2018年6月20日起电子邮箱将换成2048871896@qq.com ，请您用此邮箱发电子邮件给我社；来信及汇款请寄到新地址：合肥市庐阳区沿河路222号栢景湾小区香榭里道2栋504室，联系人：廖琪文 邮编：230001电话...
           </a>
           <h3 class="title198 title-198" id="t-198">销售排行</h3>
        </div>
        <div class="t_3">
          <ul>
            <li><img src="http://www.51gu.com/cn/images/01.gif">
              <a href="#">克罗地亚科学艺术研究...</a>
            </li>
          </ul>
        </div>
          <h3 class="title198">历史上的今天</h3>
      </div>
      <div id="three">
        <div class="tade_bg"> 
        <table>
          <td id="t1"><img src="http://www.51gu.com/cn/images/date.jpg"></td>
          <td id="t2">
              1900年8月10日戴维斯和沃德赢得第一个戴维斯奖杯
          </td>
        </table>
        </div>
      </div>
      <div id="four">
        <ul>
          <li>
            <a href="#">
              <img src="http://www.51gu.com/shop/asp/stpimg/SER/SERB025FC3.jpg">
              <h5 class="s1">戴维斯杯国际网球赛世界冠军得主</h5>
             <h5><span>编号：</span><span>SERB025FC</span></h5>
             <h5><span>国家：</span><span>塞尔维亚</span></h5>
             <h5><span>售价：</span><span>￥19.00</span></h5>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </aside>
</body>
</html>