#IndexAside_footer{
  width:198px;
  height:770px;
  overflow: hidden;
  text-align: center;
}
#IndexAside_footer li{
  margin-bottom: 20px;
}
#IndexAside_footer img{
  width:150px;
  height:103px;
}
#IndexAside_footer h5{
  color:#000;
  font-size: 13px;
}
#IndexAside_footer ul li a .s1{
  color: #D05F01;
  font-size: 12px;
  width:198px;
  height:17px;
  overflow:hidden;
}
