#index_cen{width:581px;}
/* 搜索 */
#index_cen .searchbox h3.searTitle{
  padding-left:0;
	height:32px;width:100%;line-height:32px;
	background:url("../../../img/t2_bg.gif") repeat left center;
}
#index_cen .searchbox h3.searTitle img{margin:6px 5px 0 10px;}
#index_cen .searchbox h3.searTitle span{
	position: relative;top:-5px;font-weight: bold;
}
#index_cen .searchbox table{width:581px;}
#index_cen .searchbox tr{height:30px;}
#index_cen .searchbox td:nth-child(2n+1){width:13%; text-align:right;}
#index_cen .searchbox td:nth-child(4n+1){width:10%;}
#index_cen .searchbox td:nth-child(2n){width:37%;}
#index_cen .searchbox tr:first-child td:last-child{text-align:center;}
#index_cen .searchbox a.searchbtn{color:#00f;}
#index_cen .searchbox a.searchbtn:hover{text-decoration: underline;}
#index_cen .searchbox input[type="button"]{
	background-image:linear-gradient(#4bb6f7,#055bdc);
	padding:0 10px;
	color:#fff;
	border: 1px solid #055bdc;	
}
#index_cen .searchbox input[type="text"],
#index_cen .searchbox select{
	width:158px;
}
/* 新品推荐 */
#index_cen .newPro{
  margin-top:10px;
} 
#index_cen .newPro .pro{
  display: flex;
  justify-content: space-between;
  width:100%;height:196px;
  padding:15px 25px 10px 15px;
  background:url("../../../img/box_bg04.jpg")  no-repeat right bottom;
}
#index_cen .newPro .pro:nth-child(2n){
  background:url("../../../img/box_bg05.jpg")  no-repeat left bottom;
}
#index_cen .newPro .buy{
  display: block;
  width:107px;height:20px;
  background:url("../../../img/but_2.gif") no-repeat center center;
}
#index_cen .newPro .desc,
#index_cen .newPro h4{
  overflow: hidden;
  width:378px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height:22px;
}
#index_cen .newPro h4{
  -webkit-line-clamp:1;
  margin:5px 0;
}
#index_cen .newPro h4 a{
  color:#268500;
  font-weight: bold;
  font-size: 14px;
}
#index_cen .newPro a:hover{text-decoration: underline;}
#index_cen .newPro p{
  color:#268500;
  margin:5px 0;
}
#index_cen .newPro .desc{
  -webkit-line-clamp: 4;
  text-indent: 2em;
  overflow:hidden;
  /* height:85px; */
}
#index_cen .newPro .pro:nth-child(2n){
  flex-direction: row-reverse;
  padding-right:15px;
  padding-left:25px;
}
#index_cen .newPro .pro .img{
  width:150px;height:150px;
  background-size :contain ;
  background-position:center center;
  background-repeat: no-repeat;
}
  /* 一行三个产品 */  
#index_cen .newPro .pro.last{
  height:226px;
  justify-content: space-around;
  padding:15px 0 10px;
}
#index_cen .newPro .list{
  width:160px;
}
#index_cen .newPro .list h4{
  width:160px;
}
#index_cen .newPro .list .img{
  width:160px;
  height:130px;
  background-position:left center;
}
#index_cen .areaStamp,
#index_cen .kinsStamp{margin-top:10px;}