/* 外边的大边框 */
#market{
    width:783px;height:100%;
}
/* 下拉选择框 */
#market .choice{
    width:100%;height:29px;
    background-image:linear-gradient(to bottom,#dbebfa 0%,#abcced 50% );
    position:relative;
    margin:0;
}
/* 选择框位置 */
#market .choice select{
    position:absolute;
    top:5px;left:20px;
    height:20px;
}
/* 商品 */
#market .probox{
    display:flex;
    flex-wrap:wrap;
    border:1px solid #ccc;
}
/* 单个商品的样式 */
#market .product{
    width:25%;height:284px;
    border:2px dotted #ccc;
    border-top:none;
    border-left:none;
    text-align:center;
    position:relative;
}
#market .product:nth-child(4n){border-right:none;}

/* 图片 */
#market .product-img{
    width:100%;
}
#market .product-img a{
    display:block;
    width:170px;height:102px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin:10px auto;
}
#market .collection,
#market .product ul{
    width:170px;
    text-align:left;
    margin:0 auto; 
}
#market .product ul{height:120px;}
#market .product ul li{line-height:20px;}
#market .product ul li.title{
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#market .collection{margin-top:6px;}
#market .collection a{
    margin-right:5px;
    display:inline-block;
    width:69px;
    height:26px;
    background:url("../../../img/but_dg.jpg") no-repeat left top;
} 
#market .collection a:last-child{
    float:right;
    width:75px;
    background-image: url("../../../img/but_che.jpg");
}