*{
	font: 14px "Micorsoft Yahei";
	color:#333;
	box-sizing: border-box;
}
ul{list-style:none;margin:0;padding:0;}
li{margin-left:0;}
body{background:#fafafa;margin:0;}
a{cursor: pointer;text-decoration: none}
input,button,select{outline:none;border:1px solid #ddd;}
