/* 整体框架 */
#shoppingCar{
    width:990px;height:862px;
    color:#000;
    /* position:relative; */
}

#shoppingCar .area{
    display:flex;
    justify-content: space-between;
}
#shoppingCar .area  em,
#shoppingCar span{
    color:#f00;
    font-size:20px;
    font-weight: bold;
    border-bottom:2px solid #f00;
}
#shoppingCar .top{
    height:43px;
    display:flex;
    background-color: #f3f3f3;
    line-height: 43px;
}
#shoppingCar .top div{
    width:170px;
    line-height: 43px;
}
#shoppingCar .top :nth-child(3){
    width:500px;
}
#shoppingCar .details{
    background-image:linear-gradient(to bottom,#dbebfa 0%,#f1f8ff 50% );
    height:300px;
    border-top:3px solid #aaa;
    display:flex;
}
#shoppingCar .details img{
    background-repeat: no-repeat;
}

#shoppingCar .details img{
    display:block;
    width:170px;height:220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top:10px;
}