/* 整体框架 */
#shoppingCar{
    width:1002px;height:862px;
    color:#000;
    margin:0 auto;
}
/* 配送 */
#shoppingCar .area{
    display:flex;
    justify-content: space-between;
}
#shoppingCar .area  em,
#shoppingCar .carbox span{
    color:#f00;
    font-size:20px;
    font-weight: bold;
    border-bottom:2px solid #f00;
}
#shoppingCar .cart-item{
    border:1px solid #ddd;
}
/* 顶部全选 */
#shoppingCar .top{
    height:43px;
    display:flex;
    background-color: #f3f3f3;
    line-height: 43px;
}
#shoppingCar .top div{
    width:170px;
    line-height: 43px;
}
#shoppingCar .top :nth-child(3){
    width:500px;
}
#shoppingCar .details{
    height:200px;
    padding:20px;
    display:flex;
    border-bottom:1px dashed #ddd;
}
#shoppingCar .details:last-child{border-bottom:none;}
/* 商品图片 */
#shoppingCar input[type="checkbox"]{
    margin-right:20px;
}
#shoppingCar a.product-img{
    display:block;
    width:160px;height:160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f8f8f8;
    background-size: contain;
    overflow: hidden;
}
/* 商品内容 */
#shoppingCar ul{
    margin-left:20px;
}
#shoppingCar .details-text{
    width:280px;height: 250px;
    margin-top: 18px;
}
/* 单价数量操作 */
#shoppingCar .details-text li{
    line-height: 24px;
}
#shoppingCar  .count{
    display:flex;
    margin: 18px 0 0 20px;
}
#shoppingCar  .count :first-child{
    margin-left:10px;
}
#shoppingCar  .count li{
    width:80px;
}
#shoppingCar  .count li:nth-child(2){
    width:130px;
}
#shoppingCar  .count button{
    border:1px solid #ccc;
    width:30px;
    background:#fff;
}
/* 底部全选+小计栏 */
#shoppingCar .bottom{
    width:100%;height:52px;
    background:#ccc;
    display:flex;
    justify-content: space-between;
}
/* 悬停字体变红 */
#shoppingCar .bottom a:hover,#shoppingCar .count a:hover{
    color:#f00;
}
#shoppingCar .bottom ul{
    display:flex;   
}

#shoppingCar .bottom li{
    line-height:52px; margin:0 5px;
}
#shoppingCar .bottom-right button{
    background:#f00;
    width:70px;height:52px;
    font-size:18px;
    color:#fff;
    font-weight:bold;
}
#shoppingCar .bottom-right span{
    border-bottom:none;
}

#shoppingCar .Tips{
    /* height:60px; */
    color:#f00;
    line-height:60px;
    text-align:center;
}
#shoppingCar .hide{
    display:none;
}