
*{
	font: 13px "Micorsoft Yahei";
	color:#000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{list-style:none;margin:0;padding:0;}
li{margin-left:0;}
body{width:1002px;height:100%;margin:0 auto;
	/* background: url("../../../img/body_bg.gif") repeat top center; */
	/* overflow: hidden; */
}
a{cursor: pointer;text-decoration: none}
input,button,select{
	height:26px;
	padding:0 5px;
	outline:none;border:1px solid #ddd;
}
input[type="text"],
select{
	width:160px;
}
/* 模块标题 */
h3{
	width:100%;height:34px;padding-left:36px;
	position:relative;
	font-size:14px;font-weight:bold;
	color:#fff;line-height:29px;
}
/* 宽198px的模块标题 背景 */
h3.title198{
  background:url("http://www.51gu.com/cn/images/t1_bg.jpg") no-repeat left top;
}
/* 宽581px的模块标题 背景 */
h3.title581{
  background:url("http://www.51gu.com/cn/images/t3_bg.jpg") no-repeat left top;
}
/* #aside{text-align: center} 文本里面所有内容居中显示 */
/* aside 的宽度 */
#left-on{
  width:198px;
  /* border: 1px solid #f00 */
  /* position: relative; */
}
/* 图片的样式和位置以及边框 */
#on{
  margin-top:5px;
  border:3px solid #ccc;
  width:196px;
  height:136px;
}
/* 图片的样式和外边距 */
#on img{margin:3px ;margin-bottom: 5px}
/* 第二个div two 的样式 */
/* #two{margin-left:3px;} */
  /* 放在a标签上的时候的样式 */
#two .t_3:hover{
  color:red;
  text-decoration:underline;
}
/* 销售排行的样式 */
#two #t-198{
  position: absolute;
  top:340px;
  width:178px;
}
/* t-2 背景的透明度 */
#two .t_2>h3{
  opacity: 0.8;
  overflow:hidden;
}
/* 右侧边距 */
#two .t_2{
  margin-left:10px;
}
/* two 下面ul的背景颜色 */
#two .t_3{
  background:#f3fdfe; 
  line-height:25px;
  margin-left: 3px;
}
/* li 的样式 */
#two .t_3 li{
  border-bottom: 1px dashed #ccc;
  padding:5px;
}
/* li 下面 img 的样式 */
#two .t_3 li>img{
  vertical-align:middle;
}
/* li  下面a 标签的样式 */
#two .t_3 li>a{
  margin-top:5px;
  
}
/* three 的样式 */
/* #three{margin-left:3px;} */
/* tbde_bg 的背景颜色 */
#three .tade_bg{
  background-image:linear-gradient(to bottom,#fff 0% ,#ddeef6 100%)
}
/* title 中文本内容向上对齐 */
#three .tade_bg>table #t1{
  vertical-align:top;
}
/* 向上对齐自豪大小 颜色行高 */
#three .tade_bg>table #t2 {
  color: #008EB0;
  font-weight:bold;
  line-height: 24px;
  margin-top: 0px;
  vertical-align:top;
}
/* four的样式 */
/* #four{margin-left:3px;} */
/* four 的背景颜色 */
#four{
 background-image:linear-gradient(to right,#fff 0%,#f3fdfe 100%)
}
/* four 中图片的大小 */
#four>ul>li img{
  widows: 150px;
  height: 103px
}
/* four 文本居中对齐 */
#four>ul>li{text-align: center;}
#four ul li .s1{
  color: #D05F01;
  font-size: 12px;
}